<!DOCTYPE html>

<html lang='pt-br'>

<head>
   <meta charset="UTF-8">
   <meta name='viewport' content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }} ">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>RJM Contabilidade</title>
</head>

<body>

   <nav>
      <a href="/">
         <img src=" {{ url_for('static', filename='img/logo.png') }} " alt="">
      </a>

      <ul>
         <li>
            <a href="#service">Serviços</a>
         </li>
         <li>
            <a href="#links">Links Úteis</a>
         </li>
         <li>
            <a href="#about">Sobre</a>
         </li>
      </ul>
   </nav>

   <header id="banner">

      <div>
         <h1>
            Venha para contabilidade de melhor atendimento do Brasil!
         </h1>
      </div>

      <img src="{{url_for('static', filename='img/front-model.png')}}" alt="">

   </header>

   <header id="services">
    <div id="service">
      <h3 style="color: #FFF;">
        Serviços
      </h3>

      <br>
      <br>
      <br>

      <ul style="color: #FFF;">
        <li>Atuamos no mercado dando suporte aos nossos clientes quanto a constituição, administração e consultorias da área</li>
        <li>Serviços de rotina contábil conforme as normas contábeis e legislação em vigor</li>
        <li>Rotina fiscal completa</li>
        <li>Abertura e fechamento de empresas</li>
        <li>Atendimento a microempreendedor individual - MEI</li>
        <li>Execução da rotina do departamento de pessoal desde o registro de funcionário à folha de pagamentos incluindo guia de impostos</li>
        <li>Escrituração contábil</li>
        <li>Declaração de imposto de renda</li>
        <li>Suporte técnico aos departamentos da empresa com visitas sob demanda, com elabroração de relátórios para a comunicação de sugestões ou divergências</li>
      </ul>
  </div>
 </header>

  <header id="utils">
    <div id="links">
      <h3 >
        Links Úteis
      </h3>
      <div class="parent--utils">
        <section class="utils">
          <a href="https://www.gov.br/receitafederal/pt-br">
            <img src="{{url_for('static', filename='img/ReceitaFederal_150.png')}}" alt="">
          </a>
          </section>
          <section class="utils">
            <a href="https://servicos.receita.fazenda.gov.br/Servicos/certidaointernet/PJ/Emitir">
              <img src="{{url_for('static', filename='img/Cnegativa.png')}}" alt="">
            </a>
          </section>
          <section class="utils">
            <a href="https://servicos.receita.fazenda.gov.br/servicos/cnpjreva/cnpjreva_solicitacao.asp">
              <img src="{{url_for('static', filename='img/CNPJ.png')}}" alt="">
            </a>
          </section>
          <section class="utils">
            <a href="https://servicos.receita.fazenda.gov.br/servicos/cpf/consultasituacao/consultapublica.asp">
              <img src="{{url_for('static', filename='img/CPF.png')}}" alt="">
            </a>
          </section>
          <section class="utils">
            <a href="https://www.saogoncalo.rj.gov.br/">
              <img src="{{url_for('static', filename='img/Prefeitura_150.png')}}" alt="">
            </a>
          </section>
          <section class="utils">
            <a href="https://www4.fazenda.rj.gov.br/certidao-fiscal-web/emitirCertidao.jsf">
              <img src="{{url_for('static', filename='img/RecEstadSefaz_150.png')}}" alt="">
            </a>
          </section>
        </div>
    </div>
  </header>

  <header id="about">
    <div id="about">
      <h3 style="color: #FFF;">
        Sobre
      </h3>

      <br>
      <br>
      <br>

      <h2>Nossa Missão</h2><br><br>
      Fornecer serviços de qualidade em tempo curto para que o empressário tenha confiança ao tomar decisões.
      <br><br><br>
      <h2>Visão Empresarial</h2><br><br>
      Sermos reconhecidos pela apresentação de soluções contábeis e pela agilidade nas respostas as demandas de nossos clientes.
      <br><br><br>
      <h2>Valores</h2><br><br>
      Ética profissional, busca contínua pela qualidade, trabalho em equipe, transparência, dinamismo e parceria com nossos clientes e a comunidade.
    </div>
  </header>


  <section id="playlist">
    <br><br><br><br><br><br>
    <h3>Comentarios dos clientes</h3>
    <table>
        <thead>
          <tr>
              <th>#</th>
              <th>Cliente</th>
              <th>Empresa</th>
              <th>Comentario</th>
              <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          {% for m in musicas %}
          <tr>
              <td>{{m.id}}</td>
              <td>{{m.nome}}</td>
              <td>{{m.artista}}</td>
              <!-- TODO: Moldar model para compreender regra de negócio, ou seja -->
              <!-- Trocar model música por Comentários, mudar link da música para -->
              <!-- comentário, possível alterações? -->
              <td>{{m.nome}}</td>
          </td>
              <td>
                <a href="/edit/{{m.id}}">Editar</a>
                <a href="/{{m.id}}">Apagar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>

    </table>

  </section>

  <!-- {% if musica != undefined %}
  <section class="modal">
    <div id="card">

        <a href="/#playlist" id="fechar"><i class="fa fa-times" aria-hidden="true"></i></a>
        <h2>Confirmação</h2>
        <hr>

        <p>Deseja realmente apagar a comentário {{musica.nome}} ???</p>
        <div id="btns">
          <a class="btn-cancelar" href="/#playlist">Cancelar</a>
          <a class="btn-apagar" href="/delete/{{musica.id}}">Apagar</a>
        </div>
    </div>
  </section>
  {% endif %} -->

  <footer>
    <hr>
    <p>Contatos - Email: rjmcontabil@gmail.com, Tel: (021) 3242-5047
      <a href="https://www.facebook.com/RJMContabilidadee">
        <img style="width: 1.5rem; padding: 2.5rem;" src="{{url_for('static', filename='img/logotipo-do-instagram.png')}}" alt="">
      </a>
      <a href="https://www.instagram.com/rjmcontabil/">
        <img style="width: 2.7rem;" src="{{url_for('static', filename='img/Facebook Icon.jpg')}}" alt="">
      </a>
    </p>

  </footer>

</body>

</html>
